@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}
p{
    font-size: 1.6rem;
    line-height: 1.5;
}
img{
    width: 100%;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;

}
header{
    width: 100%;
    background: #65451c;
    position: fixed;
    left: 0;
    top: 0;
}
nav{
    height: 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 2.5rem;
    color: white;
}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-list li{
    list-style: none;
    margin: 0 1.5rem;
}
li a{
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
}

section{
    padding: 5rem 0;
}
.box{
    border: 2px solid #65451c;
    padding: 2rem;
    margin-top: 4rem;
}
h2{
    font-size: 3rem;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex > * {
    margin: 3px;
}
.header{
    width: 100%;
    height: 90vh;
    background: url("https://images.pexels.com/photos/28580603/pexels-photo-28580603/free-photo-of-modern-desk-setup-with-keyboard-and-drawing-tablet.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center no-repeat;
    background-size: cover;
}

.scroll-indicator{
    width: 100%;
    height: 4px;
    background: grey;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    visibility: hidden;
}
.progress{
    width: 0%;
    height: 3px;
    background: #deb887;
}


.top{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    font-size: 4rem;
    background: rgba(101, 69, 28, 0.90);
    color: white;
    padding: 1rem;
    border: 2px solid #65451c;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    z-index: 111;
    opacity: 0;
    transform: translateY(10rem);
    transition: all 0.5s ease-in;
}

.show-btn{
    opacity: 1;
    transform: translateY(0);
}

/*
#deb887
#65451c
*/